*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:#fffbf0;
}
.navbar-top{
    padding: 20px;
}
.button{
    color: white;
    background-color:#9fb83f ;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}
.button-gap{
    margin-right: 10px;
}
.highlight{
    color: #fabe4c;
}
.banner-text{
    font-size: 65px;
}
.product-taitle{
    margin: 50px 25px 50px;
}
.product{
    border:10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    border-radius: 10px;
}
.product-img{
    background-color: #f1f1f1;
    border-radius: 20px;   
}
.botton-img{
    width: 100px;
}
.botton-img img{
    width: 100%;
}
.last-img{
    width: 100%;
}
.gap{
    margin-top: 100px;
    margin-bottom: 50px;
}
.fotter-card{
    margin: 5px;
    padding:10px;
    border: 5px solid white;
    box-shadow: 0 4px 8px 0 rgba(73, 73, 73, 0.2), 0 6px 20px 0 rgba(94, 92, 92, 0.19);
    border-radius: 20px;
}
.orange-bg{
    background-color: #fffbf0 ;
    border-radius: 10px; 
}
.icons{
    font-size: 40px;
    margin: 20px ;
}
.icons-item{
    margin: 10px;
}
.icons-item-red{
    color: red;
}